{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    {{ form_start(form) }}

        {{ form_row(form.email) }}
        {% if not is_granted('ROLE_RECRUITER') %}
            {{ form_row(form.cv) }}
            {{ form_row(form.motivation) }}
        {% endif %}

        <ul class="experiences" data-prototype="{{ form_widget(form.experiences.vars.prototype)|e('html_attr') }}">
             {% for experience in form.experiences %}
                <li>
                    {{ form_row(experience.society) }}
                    {{ form_row(experience.type) }}
                    {{ form_row(experience.name) }}
                    {{ form_row(experience.description) }}
                </li>
                <button class="removeExperience">supprimer l'expérience</button>
             {% endfor %}
         </ul>
         <button class="addExperience" type="button">Ajouter une expérience</button>

         <ul class="formations" data-prototype="{{ form_widget(form.formations.vars.prototype)|e('html_attr') }}">
              {% for formation in form.formations %}
                 <li>
                     {{ form_row(formation.school) }}
                     {{ form_row(formation.diploma) }}
                     {{ form_row(formation.description) }}
                 </li>
                 <button class="removeFormation">supprimer la formation</button>
              {% endfor %}
          </ul>
          <button class="addFormation" type="button">Ajouter une formation</button>

          {% if not is_granted('ROLE_RECRUITER') %}
              <ul class="criterias" data-prototype="{{ form_widget(form.criterias.vars.prototype)|e('html_attr') }}">
                   {% for criteria in form.criterias %}
                      <li>
                          {{ form_row(criteria.name) }}
                      </li>
                      <button class="removeCriteria">supprimer ce critère</button>
                   {% endfor %}
               </ul>
               <button class="addCriteria" type="button">Ajouter un critère</button>
           {% endif %}

   {{ form_end(form) }}

    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/formCollectionExperiences.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/formCollectionFormations.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/formCollectionCriterias.js') }}"></script>
{% endblock %}
