{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <p>
        <a href="{{ path('profile_edit') }}">Modifier mon profil</a>
    </p>

    <div class="">
        <p>
            {{ user.email }}
        </p>
    </div>

    {% if not is_granted('ROLE_RECRUITER') %}
        <div class="">
            <h3>Documents</h3>
            <div>
                <p>
                    CV :
                    {% if user.cv is null or user.cv == '' %}
                        <b>
                            Aucun document
                        </b>
                    {% else %}
                        <a target="_blank" href="{{ path('profile_cv_show') }}">Voir mon cv</a>
                    {% endif %}
                </p>
                <p>
                    Lettre de motivation :
                    {% if user.motivation is null or user.motivation == '' %}
                        <b>
                            Aucun document
                        </b>
                    {% else %}
                        <a target="_blank" href="{{ path('profile_motivation_show') }}">Voir ma lettre de motivation</a>
                    {% endif %}
                </p>
            </div>
        </div>
    {% endif %}

    <div class="">
        <h3>Expériences</h3>
        <p>
            {% for experience in user.experiences %}
                <p>
                    {{loop.index}} ) {{ experience.name }} - {{ experience.society }} - {{ experience.type }} <br>
                    {{ experience.description }}
                </p>
            {% else %}
                <p>
                    Aucune expérience
                </p>
            {% endfor %}
        </p>
    </div>

    <div class="">
        <h3>Formations</h3>
        <p>
            {% for formation in user.formations %}
                <p>
                    {{loop.index}} ) {{ formation.school }} - {{ formation.diploma }} <br>
                    {{ formation.description }}
                </p>
            {% else %}
                <p>
                    Aucune formation
                </p>
            {% endfor %}
        </p>
    </div>

    {% if not is_granted('ROLE_RECRUITER') %}
        <div class="">
            <h3>Critères</h3>
            <p>
                {% for criteria in user.criterias %}
                    <p>
                        {{loop.index}} ) {{ criteria.name }}
                    </p>
                {% else %}
                    <p>
                        Aucun critère
                    </p>
                {% endfor %}
            </p>
        </div>
    {% endif %}

{% endblock %}
