{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="">
        <hr>
            {{ form(form) }}
        <hr>
        {% for job in jobs %}
            <p>
                {{ job.name }} - {{ job.type }} - {{ job.domain }} - {{ job.subway }}
                <a href="{{ path('view_job_one', {'id': job.id}) }}">voir</a>
                <br>
                {{ job.description }}
                <hr>
            </p>
        {% else %}
            <p>
                No jobs
            </p>
        {% endfor %}
    </div>
{% endblock %}
