<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="">
            <h2>Menu</h2>
        </div>

        {% if app.user is null %}
            <div class="">
                <p>
                    <a href="{{ path('app_login') }}">Connexion</a>
                </p>
                <p>
                    <a href="{{ path('app_register') }}">Inscription</a>
                </p>
            </div>
        {% else %}
            <div class="">
                <p>
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </p>
                <p>
                    <a href="{{ path('home') }}">Les offres d'emploi</a>
                </p>
                <p>
                    <a href="{{ path('profile') }}">Mon profile</a>
                </p>
                {% if is_granted('ROLE_RECRUITER') %}
                    <p>
                        <a href="{{ path('job') }}">Gestion des offres</a>
                    </p>
                {% else %}
                    <p>
                        <a href="{{ path('profile_applies') }}">Mes candidatures</a>
                    </p>
                {% endif %}
            </div>
        {% endif %}

        <div class="">
            <h2>Route : {{ app.request.pathInfo }}</h2>
        </div>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
